* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mukta", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Nunito", sans-serif;
  letter-spacing: 2px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background: #f5dfbbff;
  max-width: 100vw;
}

i {
  background: #333 !important;
  color: #0e9594ff;
  font-size: 3rem;
  padding: 1rem;
  background: white;
  border-radius: 50%;
}

h3 {
  color: #f2542dff;
}

.header {
  padding: 2rem 1rem;
  box-shadow: 0px 5px 2.5px 2.5px #040404;
  background: #f5dfbbff;
  color: #333;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 1rem;
  margin: auto;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 2rem 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .header {
    padding: 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    padding: 6rem;
    max-width: 1600px;
    margin: auto;
  }
}
.header__logo, .header__info1, .header__info2 {
  margin-top: auto;
}
.header__logo {
  grid-row: 1/2;
}
.header__logo i {
  color: #0e9594ff;
  font-size: 5rem;
}
.header__logo p {
  font-weight: 700;
}
.header__logo p:nth-of-type(1) {
  color: #040404;
  font-size: 3rem;
}
.header__info1, .header__info2 {
  grid-row: 2/3;
}
.header__info1 i, .header__info2 i {
  margin-right: 1rem;
}
.header__info1 span, .header__info2 span {
  color: #f2542dff;
  font-weight: 700;
}
.header__info2 {
  grid-row: 3/4;
}
@media only screen and (min-width: 480px) {
  .header {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }
  .header__logo {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .header__info1 {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: start;
  }
  .header__info2 {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: start;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .header__logo, .header__info1, .header__info2 {
    grid-row: 1/2;
  }
  .header__logo {
    grid-column: 2/3;
    text-align: center;
  }
  .header__info1 {
    margin-left: auto;
    grid-column: 1/2;
  }
  .header__info2 {
    margin-right: auto;
    grid-column: 3/4;
  }
}
@media only screen and (min-width: 1600px) {
  .header {
    border-left: 2px solid #333;
    border-right: 2px solid #333;
  }
}

.nav {
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px 5px 5px 5px #040404;
  background: #f5dfbbff;
  border-top: solid #333 2px;
  border-bottom: solid #333 2px;
  z-index: 2;
}
.nav::before {
  content: "";
  left: 0;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  top: 0;
  width: 100%;
  z-index: -1;
}
.nav::before {
  background: #F7F7F7;
}
.nav::before {
  opacity: 0.1;
}
.nav p {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.nav p i {
  background: none !important;
  font-size: 2rem;
  margin: auto;
}
.nav ul {
  display: none;
}
.nav__item {
  font-weight: 700;
  padding: 1rem 2rem;
  text-align: center;
}
.nav__item--active {
  color: #f2542dff;
}
@media only screen and (min-width: 576px) {
  .nav {
    margin: auto;
    transform: translateY(-1.25rem);
  }
  .nav p {
    display: none;
  }
  .nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .nav__item {
    width: 33%;
  }
}
@media only screen and (min-width: 1200px) {
  .nav {
    border: solid #333 2px;
    margin: auto;
    transform: translateY(-3rem);
    width: 75%;
  }
  .nav ul {
    justify-content: space-between;
  }
  .nav__item {
    padding: 2rem 4rem;
    width: auto;
  }
}
@media only screen and (min-width: 1600px) {
  .nav {
    max-width: calc((75 * 1600px) / 100);
  }
}

.slideShow {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 2rem 1rem;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  min-height: 720px;
  position: relative;
}
.slideShow::before {
  content: "";
  left: 0;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  top: 0;
  width: 100%;
  z-index: -1;
}
.slideShow::before {
  background: #333;
}
@media only screen and (min-width: 768px) {
  .slideShow {
    padding: 2rem 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .slideShow {
    padding: 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .slideShow {
    padding: 6rem;
    max-width: 1600px;
    margin: auto;
  }
}
.slideShow::before {
  opacity: 0.8;
}
@media only screen and (min-width: 576px) {
  .slideShow {
    transform: translateY(-1.25rem);
  }
}
@media only screen and (min-width: 1200px) {
  .slideShow {
    transform: translateY(-5.4rem);
  }
}
@media only screen and (min-width: 1600px) {
  .slideShow {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
  }
}

.slide {
  transition: all 0.5s ease-in-out;
}
.slide__label {
  color: white;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.slide__label h2, .slide__label p, .slide__label a {
  font-family: "Mukta", sans-serif;
  margin: 2rem 0;
}
.slide__label h2 {
  font-size: 3rem;
}
.slide__image {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -2;
}
.slide__image img {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}
@media only screen and (min-width: 576px) {
  .slide__label {
    width: 75%;
  }
}
@media only screen and (min-width: 1200px) {
  .slide__label {
    width: 50%;
  }
}

.cardContainer {
  padding: 2rem 1rem;
  background-attachment: scroll;
  background-image: url("../assets/brunch6-lrg.jpg");
  background-size: contain;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 1rem !important;
  padding-bottom: 0 !important;
}
@media only screen and (min-width: 768px) {
  .cardContainer {
    padding: 2rem 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .cardContainer {
    padding: 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .cardContainer {
    padding: 6rem;
    max-width: 1600px;
    margin: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .cardContainer {
    background-attachment: fixed;
  }
}
@media only screen and (min-width: 576px) {
  .cardContainer {
    background-image: url("../assets/brunch9-lrg.jpg");
    background-size: cover;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0 !important;
  }
}
@media only screen and (min-width: 1080px) {
  .cardContainer {
    justify-content: space-between;
  }
}

.iconCard {
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px 5px 2.5px 2.5px #040404;
  align-items: center;
  background: #f5dfbbff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.iconCard::before {
  content: "";
  left: 0;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  top: 0;
  width: 100%;
  z-index: -1;
}
.iconCard::before {
  background: #040404;
}
.iconCard::before {
  opacity: 0.3;
}
.iconCard i {
  margin: 0 1rem 1rem 0;
}
.iconCard div {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}
.iconCard div h2 {
  color: #f2542dff;
  font-size: 1.5rem;
}
@media only screen and (min-width: 576px) {
  .iconCard {
    padding: 3rem 2rem;
    transform: translateY(-8rem);
    max-width: calc(50% - 2rem);
  }
}
@media only screen and (min-width: 1080px) {
  .iconCard {
    flex-direction: row;
    justify-content: flex-start;
    text-align: start;
    max-width: calc(33% - 1rem);
    transform: translateY(-12rem);
  }
  .iconCard i {
    margin: 0 1rem 0 0;
  }
}

.blurb {
  padding: 2rem 1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: #0e9594ff;
  text-align: center;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .blurb {
    padding: 2rem 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .blurb {
    padding: 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .blurb {
    padding: 6rem;
    max-width: 1600px;
    margin: auto;
  }
}
.blurb::before {
  content: "";
  left: 0;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  top: 0;
  width: 100%;
  z-index: -1;
}
.blurb::before {
  background: #f5dfbbff;
}
.blurb::before {
  opacity: 1;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
}
.blurb h3, .blurb h2, .blurb blockquote {
  margin-bottom: 2rem;
}
.blurb p, .blurb blockquote {
  margin: 2rem auto;
}
.blurb blockquote {
  margin: auto;
}
.blurb blockquote h2 {
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #F7F7F7;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  border-left: #f2542dff solid 4px;
  padding-left: 1rem;
  text-align: start;
}
.blurb blockquote h2::before {
  content: "";
  left: 0;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  top: 0;
  width: 100%;
  z-index: -1;
}
.blurb blockquote h2::before {
  background: #040404;
}
.blurb p {
  max-width: 60ch;
}
.blurb iframe, .blurb figure {
  box-shadow: 0px 5px 2.5px 2.5px #040404;
  height: 350px !important;
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 0;
}
.blurb figure img {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
@media only screen and (min-width: 480px) {
  .blurb blockquote {
    width: 75%;
  }
}
@media only screen and (min-width: 768px) {
  .blurb blockquote {
    width: 50%;
  }
  .blurb iframe, .blurb figure {
    height: 500px !important;
  }
  .blurb--noBP {
    padding-bottom: 0 !important;
  }
  .blurb--noTP {
    padding-top: 0 !important;
  }
}

.gallery {
  padding: 2rem 1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: #0e9594ff;
  position: relative;
  z-index: 0;
}
@media only screen and (min-width: 768px) {
  .gallery {
    padding: 2rem 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .gallery {
    padding: 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery {
    padding: 6rem;
    max-width: 1600px;
    margin: auto;
  }
}
.gallery::before {
  content: "";
  left: 0;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  top: 0;
  width: 100%;
  z-index: -1;
}
.gallery::before {
  background-attachment: scroll;
  background-image: url("../assets/brunch3-lrg.jpg");
  background-size: cover;
  background-position: center center;
  height: 50%;
  top: 25%;
  opacity: 0;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .gallery::before {
    background-attachment: fixed;
  }
}
.gallery__cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gallery__title {
  background: #0e9594ff;
  color: #f2542dff;
  padding: 4rem 0 0 0;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}
.gallery__card {
  box-shadow: 0px 5px 2.5px 2.5px #040404;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem;
}
.gallery__card > * {
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #040404;
  padding: 1rem;
  width: 100%;
  z-index: 1;
}
.gallery__card > *::before {
  content: "";
  left: 0;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  top: 0;
  width: 100%;
  z-index: -1;
}
.gallery__card > *::before {
  background: #F7F7F7;
}
.gallery__card__title {
  position: relative;
  overflow: visible;
  margin-bottom: 6rem;
}
.gallery__card__title h3 {
  color: #040404 !important;
}
.gallery__card__title p {
  color: #f2542dff;
  font-weight: 700;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
}
.gallery__card__title span {
  position: relative;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  right: calc((100% - 64px) / 2);
  bottom: -30px;
}
.gallery__card__title span::before {
  content: "";
  left: 0;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  top: 0;
  width: 100%;
  z-index: -1;
}
.gallery__card__title span::before {
  background: #F7F7F7;
}
.gallery__card__title span::before {
  -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
}
.gallery__card__title span i {
  background: none !important;
  color: #f2542dff;
  font-size: 2rem;
}
.gallery__card p {
  margin-top: auto;
}
.gallery__card picture {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  z-index: inherit;
}
.gallery__card picture img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}
@media only screen and (min-width: 576px) {
  .gallery::before {
    opacity: 1;
  }
  .gallery__cardContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gallery__card {
    max-width: calc(50% - 2rem);
  }
  .gallery__card:nth-of-type(odd) {
    margin-left: 0;
  }
  .gallery__card:nth-of-type(even) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery::before {
    height: 75%;
    top: calc((100% - 75%) / 2);
  }
  .gallery__cardContainer {
    justify-content: space-between;
  }
  .gallery__card {
    max-width: calc(25% - 2rem);
  }
  .gallery__card:nth-of-type(1) {
    margin-left: 0;
  }
  .gallery__card:nth-last-of-type(1) {
    margin-right: 0;
  }
}

.reserve {
  padding: 2rem 1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .reserve {
    padding: 2rem 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .reserve {
    padding: 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .reserve {
    padding: 6rem;
    max-width: 1600px;
    margin: auto;
  }
}
.reserve::before {
  content: "";
  left: 0;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  top: 0;
  width: 100%;
  z-index: -1;
}
.reserve::before {
  background: #0e9594ff;
}
.reserve::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  opacity: 1;
}
.reserve__services, .reserve__form {
  width: 100%;
}
.reserve__services {
  order: 1;
}
.reserve__form {
  order: 2;
}
@media only screen and (min-width: 768px) {
  .reserve {
    flex-direction: row;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .reserve::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 75%, 0 25%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 75%, 0 25%);
  }
  .reserve__services {
    order: 2;
  }
  .reserve__form {
    order: 1;
  }
  .reserve__form, .reserve__services {
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .reserve {
    padding: 4rem !important;
  }
}
@media only screen and (min-width: 1200px) {
  .reserve {
    padding: 6rem !important;
  }
}

.services {
  text-align: start;
}
.services > * {
  margin-bottom: 1rem;
}
.services__card {
  align-items: center;
  display: flex;
}
.services__card div {
  padding: 0.5rem 0 0.5rem 1rem;
}
.services__card div h3 {
  margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .services {
    padding-left: 2rem;
  }
  .services__card i {
    font-size: 4rem;
  }
}

.form {
  box-shadow: 0px 5px 5px 5px #040404;
  background: #F7F7F7;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}
.form h3, .form h2 {
  margin-bottom: 1rem;
  width: 100%;
}
.form__group {
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px 5px 2.5px 2.5px #040404;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.form__group::before {
  content: "";
  left: 0;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  top: 0;
  width: 100%;
  z-index: -1;
}
.form__group::before {
  background: #f5dfbbff;
}
.form__label {
  color: #f2542dff;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
.form__label span {
  color: red;
}
.form__input {
  background: none;
  border: none;
  font-weight: 700;
  outline: none;
}
.form__input::placeholder {
  color: #333;
}
.form__input[type=submit] {
  box-shadow: 0px 5px 2.5px 2.5px #040404;
  -webkit-appearance: none;
  background: #f5dfbbff;
  border-radius: 0;
  padding: 1rem 2rem;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .form__group {
    width: 100%;
  }
  .form__group:nth-of-type(1), .form__group:nth-of-type(2) {
    width: 45%;
  }
}

.followBar {
  padding: 2rem 1rem;
  box-shadow: 0px 5px 5px 5px #040404;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .followBar {
    padding: 2rem 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .followBar {
    padding: 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .followBar {
    padding: 6rem;
    max-width: 1600px;
    margin: auto;
  }
}
.followBar h3 {
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
}
.followBar i {
  box-shadow: 0px 5px 2.5px 2.5px #040404;
  margin: 0 1rem;
}

.footer {
  position: relative;
  overflow: hidden;
  z-index: 1;
  align-items: center;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}
.footer::before {
  content: "";
  left: 0;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  top: 0;
  width: 100%;
  z-index: -1;
}
.footer::before {
  background: #333;
}
.footer p {
  color: #0e9594ff;
  font-weight: 700;
}
.footer p span {
  color: orange;
}
.footer::before {
  opacity: 1;
}

.menu {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .menu {
    padding: 2rem 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .menu {
    padding: 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .menu {
    padding: 6rem;
    max-width: 1600px;
    margin: auto;
  }
}
@media only screen and (min-width: 768px) {
  .menu {
    flex-direction: row;
  }
  .menu div {
    width: calc(50% - 2rem);
  }
}

/*# sourceMappingURL=style.css.map */
