$grey: #333
$black: #040404
$white: #F7F7F7
$purple: #562c2cff
$orange: #f2542dff
$wheat: #f5dfbbff
$lightBlue: #0e9594ff
$blue: #127475ff

@mixin container
	padding: 2rem 1rem
	@media only screen and (min-width: 480px)
	@media only screen and (min-width: 768px)
		padding: 2rem 4rem
	@media only screen and (min-width: 1024px)
		padding: 4rem
	@media only screen and (min-width: 1200px)
		padding: 6rem
		max-width: 1600px
		margin: auto

@mixin centerChildren
	align-items: center
	display: flex
	justify-content: center
	flex-direction: column

@mixin parallax
	background-attachment: scroll
	@media only screen and (min-width: 1024px)
		background-attachment: fixed

@mixin center
	margin: auto

@mixin right
	margin-left: auto

@mixin left 
	margin-right: auto

@mixin top
	margin-bottom: auto

@mixin bottom
	margin-top: auto

@mixin overlay
	position: relative
	overflow: hidden
	z-index: 1
	&::before
		content: ''
		left: 0
		height: 100%
		position: absolute
		opacity: 0.8
		top: 0
		width: 100%
		z-index: -1

@mixin darkOverlay
	@include overlay
	&::before
		background: $black

@mixin lightOverlay
	@include overlay
	&::before
		background: $white

@mixin greyOverlay
	@include overlay
	&::before
		background: $grey

@mixin wheatOverlay
	@include overlay
	&::before
		background: $wheat

@mixin purpleOverlay
	@include overlay
	&::before
		background: $purple

@mixin orangeOverlay
	@include overlay
	&::before
		background: $orange

@mixin lightBlueOverlay
	@include overlay
	&::before
		background: $lightBlue

@mixin blueOverlay
	@include overlay
	&::before
		background: $blue

@mixin bottomShadow
	box-shadow: 0px 5px 5px 5px $black

@mixin topShadow
	box-shadow: 0px 5px 2.5px 2.5px $black

*
	box-sizing: border-box
	margin: 0
	padding: 0
	font-display: swap
	font-family: 'Mukta', sans-serif
	font-family: 'Open Sans', sans-serif
	font-family: 'Nunito', sans-serif
	letter-spacing: 2px

a
	color: inherit
	text-decoration: none

ul
	list-style: none 

body
	background: $wheat
	scroll-behavior: smooth
	-webkit-scroll-behavior: smooth
	max-width: 100vw

i
	background: $grey !important
	color: $lightBlue
	font-size: 3rem
	padding: 1rem
	background: white
	border-radius: 50%

h3
	color: $orange

.header
	@include container
	@include topShadow
	background: $wheat
	color: $grey
	display: grid
	grid-template-rows: auto auto auto
	grid-gap: 1rem
	margin: auto
	text-align: center
	&__logo, &__info1, &__info2
		@include bottom
	&__logo
		grid-row: 1/2
		i
			color: $lightBlue
			font-size: 5rem
		p
			font-weight: 700
			&:nth-of-type(1)
				color: $black
				font-size: 3rem
	&__info1, &__info2
		grid-row: 2/3
		i
			margin-right: 1rem
		span
			color: $orange
			font-weight: 700
	&__info2
		grid-row: 3/4
	@media only screen and (min-width: 480px)
		grid-template-rows: auto auto
		grid-template-columns: 1fr 1fr
		&__logo
			grid-column: 2/3
			grid-row: 1/3
		&__info1
			grid-column: 1/2
			grid-row: 1/2
			text-align: start		
		&__info2
			grid-column: 1/2
			grid-row: 2/3
			text-align: start		
	@media only screen and (min-width: 768px)
		grid-template-rows: 1fr
		grid-template-columns: 1fr 1fr 1fr
		&__logo, &__info1, &__info2
			grid-row: 1/2 
		&__logo
			grid-column: 2/3
			text-align: center
		&__info1
			margin-left: auto
			grid-column: 1/2
		&__info2
			margin-right: auto
			grid-column: 3/4
	@media only screen and (min-width: 1600px)
		border-left: 2px solid $grey
		border-right: 2px solid $grey

.nav
	@include lightOverlay
	@include bottomShadow
	background: $wheat
	border-top: solid $grey 2px
	border-bottom: solid $grey 2px
	position: relative
	z-index: 5
	&::before
		opacity: 0.1
	&__button
		display: flex
		align-items: center
		text-align: center
		font-size: 2rem
		font-weight: 700
		i
			background: none !important
			font-size: 2rem
			margin: auto
	ul
		display: none

	&__item
		font-weight: 700
		padding: 1rem 2rem
		text-align: center
		&--active
			color: $orange
	@media only screen and (min-width: 576px)
		margin: auto
		transform: translateY(-1.25rem)
		p
			display: none
		ul
			display: flex
			flex-wrap: wrap
			justify-content: space-around
			align-items: center
		&__item
			width: 33%
	@media only screen and (min-width: 1200px)
		border: solid $grey 2px
		margin: auto
		transform: translateY(-3rem)
		width: 75%
		ul
			justify-content: space-between
		&__item
			padding: 2rem 4rem
			width: auto
	@media only screen and (min-width: 1600px)
		max-width: calc((75 * 1600px) / 100)

.slideShow
	@include container
	max-width: 100vw
	height: 100vh
	min-height: 700px
	position: relative
	margin-bottom: 1rem
	&__menu
		max-width: 100vw
		height: 100vh
		min-height: 640px
		position: absolute
		top: 0
		left: 0
		width: 100%
		z-index: 4
	@media only screen and (min-width: 576px)
		margin-bottom: 0
		transform: translateY(-1.25rem)
	@media only screen and (min-width: 1200px)
		transform: translateY(-5.4rem)
	@media only screen and (min-width: 1600px)
		border-top: 2px solid $grey
		border-bottom: 2px solid $grey
		height: auto
.dropDown
	@include container
	border-bottom: solid $black 2px
	background: $wheat
	display: flex
	flex-direction: column
	justify-content: space-around
	text-align: center
	font-weight: 700
	font-size: 2rem
	transition: .5s all ease-in-out
	opacity: 0
	transform: translateY(-100%)
	&__item
		&--active
			color: $orange
			text-decoration: underline
	&--active
		opacity: 1
		transform: translateY(0%)
	@media only screen and (min-width: 576px)
		display: none

.slide
	display: none
	transition: all .5s ease-in-out
	&__label
		color: white
		line-height: 1.5
		display: flex
		flex-direction: column
		justify-content: flex-start
		height: 100%
		z-index: 3
		h2, p
			@include bottomShadow
			@include wheatOverlay
			color: $orange
			font-family: 'Mukta', sans-serif
			margin-bottom: 1rem
			padding: 1rem
			&::before
				opacity: 1
		h2
			font-size: 3rem
	&__image
		top: 0
		left: 0
		height: 100%
		width: 100%
		position: absolute
		z-index: -2
		img
			object-fit: cover
			position: absolute
			height: 100%
			width: 100%
	&__btn
		@include bottomShadow
		@include wheatOverlay
		color: $orange
		font-weight: 700
		padding: 1rem
		margin-right: auto
		z-index: 3
		&::before
			opacity: 1
	&--active
		animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both
		display: block
	@media only screen and (min-width: 576px)
		&__label
			width: 75%
			h2, p 
				padding: 1rem 2rem
		&__btn
			padding: 1rem 2rem
	@media only screen and (min-width: 1200px)
		&__label
			width: 50%

@keyframes fade 
	0% 
		opacity: 0
	100% 
		opacity: 1


.cardContainer
	@include container
	@include parallax
	background-image: url('../assets/brunch6-sm.jpg')
	background-size: contain
	background-position: 50% 50%
	display: flex
	flex-direction: column
	justify-content: space-around
	margin: 0 auto
	padding-top: 1rem !important
	padding-bottom: 0 !important
	@media only screen and (min-width: 576px)
		background-image: url('../assets/brunch9-sm.jpg')
		background-size: cover
		flex-direction: row
		flex-wrap: wrap
		padding-top: 0 !important
	@media only screen and (min-width: 1080px)
		background-image: url('../assets/brunch9-lrg.jpg')
		justify-content: space-between

.iconCard
	@include darkOverlay
	@include topShadow
	align-items: center
	background: $wheat
	display: flex
	flex-direction: column
	justify-content: space-between
	padding: 2rem
	text-align: center
	margin-bottom: 1rem
	&::before
		opacity: 0.3
	i
		margin: 0 1rem 1rem 0 
	div
		display: flex
		flex-direction: column
		font-weight: 700
		h2
			color: $orange
			font-size: 1.5rem
	@media only screen and (min-width: 576px)
		padding: 3rem 2rem
		transform: translateY(-8rem)
		max-width: calc(50% - 2rem)
	@media only screen and (min-width: 1080px)
		flex-direction: row
		justify-content: flex-start
		text-align: start
		max-width: calc(33% - 1rem)
		transform: translateY(-12rem)
		i
			margin: 0 1rem 0 0 

.blurb
	@include container
	@include wheatOverlay
	background: $lightBlue
	text-align: center
	z-index: 1
	&::before
		opacity: 1
		-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%)
		clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%)
	h3, h2, blockquote
		margin-bottom: 2rem
	p, blockquote
		margin: 2rem auto
	blockquote
		margin: auto
		h2
			@include darkOverlay
			color: $white
			font-size: 2rem
			font-weight: 400
			font-style: italic
			border-left: $orange solid 4px
			padding-left: 1rem
			text-align: start
	p
		max-width: 60ch
	iframe, figure
		@include topShadow
		height: 350px !important
		position: relative
		overflow: hidden
		width: 100%
		z-index: 0
	figure
		img
			position: absolute
			object-fit: cover
			left: 0
			top: 0
			height: 100%
			width: 100%
	@media only screen and (min-width: 480px)
		blockquote
			width: 75%
	@media only screen and (min-width: 768px)
		blockquote
			width: 50%
		iframe, figure
			height: 500px !important

.gallery
	@include container
	@include overlay
	background: $lightBlue
	position: relative
	z-index: 0
	&::before
		@include parallax
		background-image: url('../assets/brunch4-sm.jpg')
		background-size: cover
		background-position: center center
		height: 50%
		top: 25%
		opacity: 0
		width: 100%
	&__cardContainer
		display: flex
		flex-direction: column
		justify-content: space-between
	&__title
		background: $lightBlue
		color: $orange
		padding: 4rem 0 0 0 
		max-width: 1600px
		margin: 0 auto
		text-align: center
	&__card
		@include topShadow
		align-items: center
		color: white
		display: flex
		flex-direction: column
		position: relative
		margin: 1rem
		& > *
			@include lightOverlay
			color: $black 
			padding: 1rem
			width: 100%
			z-index: 1
		&__title
			position: relative
			overflow: visible
			margin-bottom: 6rem
			h3
				color: $black !important
			p
				color: $orange
				font-weight: 700
				font-size: 0.8rem
				font-family: 'Open Sans', sans-serif
			span
				@include lightOverlay
				position: absolute
				border-radius: 50%
				right: calc((100% - 64px) / 2)
				bottom: -30px
				&::before
					-webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%)
					clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%)
				i
					background: none !important
					color: $orange
					font-size: 2rem
		p
			margin-top: auto
		picture
			position: absolute
			height: 100%
			width: 100%
			padding: 0
			z-index: inherit
			img
				height: 100%
				width: 100%
				position: absolute
				object-fit: cover
	@media only screen and (min-width: 576px)
		&::before
			opacity: 1
		&__cardContainer
			flex-direction: row
			flex-wrap: wrap
		&__card
			max-width: calc(50% - 2rem)
			&:nth-of-type(odd)
				margin-left: 0
			&:nth-of-type(even)
				margin-right: 0
	@media only screen and (min-width: 1080px)
		&::before
			background-image: url('../assets/brunch4-lrg.jpg')
	@media only screen and (min-width: 1200px)
		&::before
			height: 75%
			top: calc((100% - 75%) / 2)
		&__cardContainer
			justify-content: space-between
		&__card
			max-width: calc(25% - 2rem)
			&:nth-of-type(1)
				margin-left: 0
			&:nth-of-type(2)
				margin-right: 1rem !important
			&:nth-of-type(3)
				margin-left: 1rem !important
			&:nth-last-of-type(1)
				margin-right: 0
			
.split 
	@include container
	@include lightBlueOverlay
	display: flex
	flex-direction: column
	&::before
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%)
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%)
		opacity: 1
	&__services, &__form, &__menu
		width: 100%
	&__services
		order: 1
	&__form
		order: 2
	@media only screen and (min-width: 768px)
		flex-direction: row
		padding-left: 2rem !important
		padding-right: 2rem !important
		&::before
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 75%, 0 25%)
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 75%,  0 25%)
		&__services
			order: 2
		&__form
			order: 1
		&__form, &__services, &__menu
			width: 50%
	@media only screen and (min-width: 1024px)
		padding: 4rem !important
	@media only screen and (min-width: 1200px)
		padding: 6rem !important

.services
	text-align: start
	& > *
		margin-bottom: 1rem
	&__cardContainer
	&__card
		align-items: center
		display: flex
		i

		div
			padding: .5rem 0 .5rem 1rem
			h3
				margin-bottom: 1rem
	@media only screen and (min-width: 768px)
		padding-left: 2rem
		&__card
			i
				font-size: 4rem
			div
				
.form
	@include bottomShadow
	background: $white
	display: flex
	flex-direction: column
	padding: 2rem 1rem
	h3, h2
		margin-bottom: 1rem
		width: 100%
	&__group
		@include wheatOverlay
		@include topShadow
		display: flex
		flex-direction: column
		padding: .5rem 1rem 1rem 1rem 
		margin-bottom: 1rem
		font-weight: 700
	&__label
		color: $orange
		margin-bottom: 1rem
		font-size: .9rem
		span
			color: red
	&__input
		background: none
		border: none
		font-weight: 700
		outline: none
		&::placeholder
			color: $grey
		&[type=submit]
			@include topShadow
			-webkit-appearance: none
			background: $wheat
			color: $orange
			border-radius: 0 
			padding: 1rem 2rem
			margin-left: auto

	@media only screen and (min-width: 768px)
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between
		&__group
			width: 100%
			&:nth-of-type(1), &:nth-of-type(2)
				width: 45%

.menu
	@include bottomShadow
	background: $white
	display: flex
	flex-direction: column
	padding: 2rem 1rem
	margin-top: 1rem
	margin-bottom: 1rem
	position: relative
	h4, h3
		margin-bottom: 1rem
	h4
		border-top: 2px solid $orange
	h3
		color: $orange	
	&:nth-of-type(1)
	&:nth-of-type(2)
		h3
			margin-left: auto
	&__group
		margin-bottom: 1rem
		display: flex
		flex-wrap: wrap
		h5
			text-decoration: underline
		ul
			list-style: initial
			margin-left: auto
			transform: translateY(-2.5px)
			li
				color: $orange
				font-weight: 700
				
		p
			width: 100%
	&__footer
		color: $orange
		position: absolute
		bottom: .25rem
		right: 1rem
		font-weight: 700
		text-align: end
	@media only screen and (min-width: 768px)
		&:nth-of-type(1)
			margin: 0 .5rem 0 0 
		&:nth-of-type(2)
			margin: 0 0 0 .5rem 
		
.followBar
	@include container
	@include bottomShadow
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	position: relative
	z-index: 2
	h3
		text-align: center
		margin-bottom: 2rem
		width: 100%
	i
		@include topShadow
		margin: 0 1rem
		transition: all .25s ease-in-out
	@media only screen and (min-width: 1200px)
		i:hover
			background: none !important
			color: $orange
			transform: scale(1.05)

.footer
	@include greyOverlay
	align-items: center
	color: white
	display: flex
	flex-wrap: wrap
	justify-content: center
	text-align: center
	padding: 2rem
	p
		color: $lightBlue
		font-weight: 700
		span
			color: orange
	&::before
		opacity: 1

